body{

}
.topbar{
  height: 45px;
  width:  100%;
  display: inline;
  border-bottom: 2px solid black;
}
.game-space{

}
.game-info{

}
li{
  list-style: none;
}
.level{
  position: relative;
  border: 4px solid black;
  height: 500px;
  width: 1000px;
}
.first-square{
  position: absolute;
  top: 125px;
  left: 300px;
  border:2px solid black;
}

.second-square{
  position: absolute;
  top: 125px;
  left: 425px;
  border:2px solid black;
}
.third-square{
  position:absolute;
  top: 125px;
  left: 550px;
  border:2px solid black;
}
.fourth-square{
  position: absolute;
  top: 250px;
  left: 300px;
  border:2px solid black;
}
.fith-square{
  position: absolute;
  top: 250px;
  left: 425px;
  border:2px solid black;
}
.sixth-square{
  position: absolute;
  top: 250px;
  left: 550px;
  border:2px solid black;
}
#square{
  height: 125px;
  width: 125px;
}
