body{

}
.topbar{
  height: 45px;
  width:  100%;
  display: inline;
}
.game-space{
  position:relative;
  border-top: 2px solid black;
  height: 550px;
  width: 100%;
}
.game-info{
  position: absolute;
  top: 100px;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  font-size: 30px;
}
.level{
  position: relative;
  left:200px;
  border: 4px solid black;
  height: 500px;
  width: 1000px;
}
.square{
  position: absolute;
  border:2px solid black;
  background-color: white;
  height: 125px;
  width: 125px;
}
